[tiles]
{
    [ColorTile]
        0, empty, vec4(0.2f, 0.2f, 0.2f, 1.0f)
    [ColorTile]    
        1, grass, vec4(0.0f, 0.8f, 0.0f, 1.0f)
    [ColorTile]    
        2, dirt, vec4(0.8f, 0.6f, 0.4f, 1.0f)
    [ColorTile]    
        3, water, vec4(0.0f, 0.0f, 0.8f, 1.0f)
    [TextureTile]
        4, tc, Res/Textures/tc.png
    [TextureTile]
        5, b, Res/Textures/b.png
}