[tiles]
{
[ColorTile]
0, empty, vec4(0.2f, 0.2f, 0.2f, 1f)
[ColorTile]
1, grass, vec4(0f, 0.8f, 0f, 1f)
[ColorTile]
2, dirt, vec4(0.8f, 0.6f, 0.4f, 1f)
[ColorTile]
3, water, vec4(0f, 0f, 0.8f, 1f)
[ColorTile]
4, sky, vec4(0.335039f, 0.936275f, 0.936275f, 1f)
[TextureTile]
1, tc, Res/Textures/tc.png
[TextureTile]
2, b, Res/Textures/b.png
[SpawnTile]
0, empty, vec4(0.2f, 0.2f, 0.2f, 1.0f)
[SpawnTile]
1, Player, vec4(0, 0.4f, 0.2f, 1.0f)
[SpawnTile]
2, Npc, vec4(0.5f, 0.4f, 0.2f, 1.0f)
[SpawnTile]
3, Enemey, vec4(1, 0, 0, 1.0f)

[CollisionTile]
0, empty, vec4(0.2f, 0.2f, 0.2f, 1f)
[CollisionTile]
1, Person, vec4(1f, 0.362745f, 0.362745f, 1f)
[CollisionTile]
2, Tile, vec4(0.259804f, 0f, 0f, 1f)
}
