[tiles]
{
[ColorTile]
    0, empty, vec4(0.2f, 0.2f, 0.2f, 1f)
[ColorTile]
    1, grass, vec4(0f, 0.8f, 0f, 1f)
[ColorTile]
    2, dirt, vec4(0.8f, 0.6f, 0.4f, 1f)
[ColorTile]
    3, water, vec4(0f, 0f, 0.8f, 1f)
[ColorTile]
    6, sky, vec4(0.335039f, 0.936275f, 0.936275f, 1f)
[TextureTile]
    1, tc, Res/Textures/tc.png
[TextureTile]
    2, b, Res/Textures/b.png
}
